.c-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: white;
  margin-top: 50px;
  padding: 30px;
  width: 100vw;

  .c-part01 {
    display: flex;
    flex-direction: column;
    gap: 30px;

    h1 {
      color: #fff;
      font-feature-settings: "ss01" on;
      font-family: "PP Formula";
      font-size: 100px;
      font-style: normal;
      font-weight: 500;
      line-height: 90px;
      letter-spacing: -4px;
      text-transform: uppercase;
    }

    p {
      font-family: "Helvetica Neue";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
    }

    .c-intro-date {
      display: flex;
      justify-content: space-between;
      p {
        font-feature-settings: "ss01" on;
        font-family: "PP Formula";
        font-size: 45px;
        font-weight: 500;
        letter-spacing: -1.2px;
        text-transform: uppercase;
      }
    }
  }

  .c-part02 {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 50vw;
    }
  }

  .button-back {
    align-self: flex-start;
    padding: 15px;
    background-color: var(--Black);
    border: 1px solid white;
    transition: 0.5s;
    svg {
      fill: white;
    }
  }

  .button-back:hover {
    background-color: white;
    border: 1px solid var(--Black);
    svg {
      fill: var(--Black);
    }
  }

  .c-info-box {
    display: flex;
    justify-content: space-between;

    .c-info-card {
      display: flex;
      flex-direction: column;
      gap: 15px;

      h3 {
        font-family: "PP Formula";
        font-feature-settings: "ss01" on;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 0px 15px;
        padding-top: 15px;
      }

      p {
        font-family: "Helvetica-Neue";
        font-size: 18px;
        font-weight: 300;
        padding: 0px 15px;
        padding-bottom: 15px;
      }

      .c-box-card {
        border: 1px solid white;
        width: 18vw;
      }

      .c-info-card-img {
        border: 1px solid white;
        height: 120px;
        margin: 0;
      }
    }
  }

  @media (max-width: 768px) {
    .c-part01 {
      .c-intro-text {
        background-image: url(../img/Festival/Photo-Asie.jpg);
        background-size: cover;
        height: 35vh;
        padding: 15px;
        padding-top: 30px;
        p {
          display: none;
        }
      }
      .c-intro-text-mobile {
        display: block;
      }
      .c-intro-date {
        margin-top: -15px;
        width: 86vw;
        p {
          font-size: 18px;
        }
      }
    }
    .c-part02 {
      display: none;
    }
    .c-info-box {
      .c-info-card {
        .c-box-card {
          width: 42vw;
        }
      }
    }
  }
}

.c-intro-text-mobile {
  display: none;
  margin: 30px 0px;
}

.c-programme {
  display: flex;
  flex-direction: column;
  width: 100vw;

  .c-movie-scroll {
    display: none;
    padding: 15px 30px;
    border: 1px solid var(--black);
    width: 100vw;
  }

  .c-hour {
    border: 1px solid var(--black);
    padding: 15px 120px;
    align-self: flex-start;
    color: var(--Black, #1b1a18);
    text-align: center;
    font-family: "PP Formula";
    font-size: 26px;
    font-weight: 500;
  }

  .c-movie-slider {
    overflow: hidden;
    width: 100%;
  }

  .c-movie-box {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 15px;
    padding: 30px;
    border: 1px solid var(--black);

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .c-movie-card {
    flex-shrink: 0; // ✅ CORRECTION
    scroll-snap-align: start; // ✅ CORRECTION
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--black);
    color: white;
    width: 30vw;
    height: 34vw;

    img {
      height: 26vw;
      padding: 15px;
    }

    h4 {
      color: var(--white, #fff);
      font-family: "PP Formula";
      font-feature-settings: "ss01" on;
      font-size: 30px;
      font-weight: 400;
      margin: 15px;
    }

    .c-movie-card-info {
      display: flex;
      justify-content: space-between;
      margin: 0 15px;
      color: var(--white, #fff);
      font-family: "Helvetica Neue";
      font-size: 16px;
      font-weight: 400;
      text-transform: capitalize;

      span {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  .c-movie-card-right {
    transition: transform 0.5s;
    &:hover {
      transform: rotate(6deg);
    }
  }
  .c-movie-card-middle {
    transition: transform 0.5s;
    &:hover {
      transform: rotate(-7deg);
    }
  }
  .c-movie-card-left {
    transition: transform 0.5s;
    &:hover {
      transform: rotate(5deg);
    }
  }
}

@media (max-width: 768px) {
  .c-programme {
    .c-movie-scroll {
      display: flex;
      justify-content: flex-end;
    }
    .c-hour {
      padding: 15px 60px;
      font-size: 20px;
    }

    .c-movie-box {
      gap: 15px;
      padding: 30px;
    }

    .c-movie-card {
      width: 65vw;
      height: 75vw;

      img {
        height: 60vw;
        padding: 10px;
      }

      h4 {
        font-size: 16px;
      }

      .c-movie-card-info {
        font-size: 14px;
        span {
          font-size: 16px;
        }
      }
    }
  }
}

.c-asie-film {
  background-image: url(../img/Film/Extrait-JiroSushi.webp);
  background-size: cover;
}

.c-asie-menu {
  background-image: url(../img/Repa/Repa-Asie.jpg);
  background-size: cover;
}
