.footer-faq {
  display: flex;
  align-items: start;
  width: 100vw;
  padding-bottom: 60px;

  .ffaq-part01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    .ffaq-img {
      height: 20vw;
      background-image: url(../img/Festival/CinemaPrado.jpg);
      background-size: cover;
      border: 1px solid white;
    }

    button {
      align-self: center;
      border: 1px solid white;
      background-color: var(--Black);

      a {
        color: white;
      }
    }

    button:hover {
      border: 1px solid white;
      background-color: white;

      a,
      p {
        color: var(--black);
      }
    }
  }

  .ffaq-part02 {
    .ffaq-dropdown-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .ffaq-dropdown-content {
      display: none;
    }

    .ffaq-dropdown-box.active .ffaq-dropdown-content {
      display: block;
    }

    .ffaq-dropdown-box.active .b-dropdown-arrow svg {
      transform: rotate(180deg);
    }
  }
}
@media (max-width: 768px) {
  .footer-faq {
    .ffaq-part01 {
      margin-bottom: 30px;
      .ffaq-img {
        height: 60vw;
      }

      button {
        a {
          padding: 15px;
        }
      }
    }
  }
}
