.homepage {
  padding-top: 120px;
  #title-img {
    height: 50%;
    clip-path: inset(2% 0 25% 0);
    // margin: -25px 0px;
  }

  h1 {
    padding: 0 30px;
  }

  p {
    font-family: "Helvetica-Neue";
    font-size: 16px;
  }
}

.h-title-img {
  background-image: url(../img/Festival/Cover-Festival.jpg);
  background-size: cover;
  width: 100vw;
  height: 50vh;
}

.h-bienvenue {
  display: flex;
  margin: 30px;
  padding: 35px 0;
  h2 {
    font-family: "PP-Formula";
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-weight: 500;
    line-height: 0; /* 90% */
    font-feature-settings: "ss01" on;
    padding-top: 15px;
  }

  .h-bienvenu-line {
    background-color: var(--black);
    width: 1px;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.h-programme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  margin-bottom: 60px;
  .h-programme-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    button {
      align-self: flex-start;
    }
  }

  .h-programme-img {
    background-image: url(../img/Repa/Repa-Asie.jpg);
    background-size: cover;
    height: 23vw;
    width: 35vw;
    clip-path: inset(0 14% 0 14%);
  }
}

.h-destination {
  margin-bottom: 60px;
  .h-destination-box {
    display: flex;
    gap: 15px;
    padding: 30px;

    .h-destination-card {
      display: flex;
      flex-direction: column;
      gap: 15px;

      button {
        align-self: flex-start;
      }

      .country-polaroid {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        width: 411px;
        height: 493px;
        color: white;
        background-color: var(--black);

        h3 {
          font-family: "PP-Formula";
          font-weight: 400;
          font-size: 36px;
          align-self: flex-start;
          padding-left: 10px;
        }

        .country-polaroid-img-amerique {
          background-size: cover;
          width: 393px;
          height: 377px;
          background-image: url(../img/Festival/Photo-AmeriqueLatine.jpg);
        }

        .country-polaroid-img-asie {
          background-size: cover;
          width: 393px;
          height: 377px;
          background-image: url(../img/Festival/Photo-Asie.jpg);
        }

        .country-polaroid-img-europe {
          background-size: cover;
          width: 393px;
          height: 377px;
          background-image: url(../img/Festival/Photo-Europe.jpg);
        }

        .country-polaroid-img-transculture {
          background-size: cover;
          width: 393px;
          height: 377px;
          background-image: url(../img/Festival/Photo-Transculture.jpg);
        }

        .polaroid-description {
          align-self: flex-start;
          display: flex;
          justify-content: space-between;
          span {
            font-family: "Helvetica-Neue";
            font-size: 20px;
          }
        }
      }
    }
  }

  .h-destination-slider {
    position: relative;
    display: flex;
    align-items: center;
  }

  .h-destination-box {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 15px;
    padding: 30px;
  }

  .h-destination-button {
    margin: 30px;
  }

  .slider-btn {
    background: white;
    border: 1px solid black;
    padding: 15px 30px;
    margin-left: 30px;
    cursor: pointer;
  }

  .slider-prev {
    left: 0;
  }
  .slider-next {
    right: 0;
  }
}

.h-vod {
  display: flex;
  padding: 30px;
  margin-bottom: 60px;
  background-color: var(--black);
  color: white;

  .h-vod-img {
    height: 20%;
  }

  .h-vod-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 30px;
    gap: 30px;
  }

  .h-vod-img {
    background-image: url(../img/Festival/Mockup_VOD.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 40vw;
  }

  button {
    align-self: center;
  }

  .h-vod-card-box {
    display: flex;
    justify-content: space-around;
    .vod-card {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: white;
      color: var(--black);
      width: 18vw;
      padding: 10px;

      .vod-card-title {
        font-family: "PP-Formula";
        font-weight: 200;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
      }

      .vod-card-text {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
      }
    }
  }
}

.h-partenaires {
  height: 290px;
  margin-bottom: 60px;
  h2 {
    text-align: center;
    font-family: "PP-Formula";
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: 500;
    line-height: 75px;
    font-feature-settings: "ss01" on;
  }

  .h-partenaires-box {
    display: flex;
    justify-content: space-around;
  }
}
