.p-nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  padding-top: 50px;
  margin-top: 150px;
  z-index: 1;
  position: sticky;
  top: 7%;
  background-color: var(--black);
  color: white;
}

@media (max-width: 768px) {
  .p-nav {
    gap: 30px;
    flex-direction: column;

    .tabs {
      display: flex;
      justify-content: space-between;

      button {
        margin: 0;
        padding: 15px 40px;
        font-size: 16px;
      }
    }
  }
}

.p-button-black {
  background-color: var(--black);
  border: 1px solid white;
  color: white;
  text-align: center;
  font-family: "PP Formula";
  font-size: 26px;
  font-weight: 300;
  padding: 15px 80px;
  margin: 0 15px;
}

.p-button-black:hover {
  background-color: white;
  border: 1px solid var(--black);
  color: var(--black);
}

.d-card {
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 30px;
  .d-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    h2 {
      font-family: "PP Formula";
      font-feature-settings: "ss01" on;
      letter-spacing: -7px;
      text-align: center;
      font-size: 95px;
      font-weight: 200;
      line-height: 120px;
      text-transform: uppercase;
      padding-top: 30px;
      padding-bottom: 0px;
    }

    .d-card-text-info {
      display: flex;
      justify-content: space-between;
      font-family: "PP Formula";
      font-size: 26px;
      font-weight: 400;
      text-transform: capitalize;
    }

    .d-card-text-content {
      width: 80%;
      h3 {
        font-family: "PP Formula";
        font-size: 22px;
        font-weight: 500;
        text-transform: uppercase;
      }

      p {
        color: #000;
        font-family: "Helvetica-Neue";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-decoration-line: underline;
        text-decoration-style: dotted;
      }
    }

    button {
      align-self: center;
    }
  }

  .d-img-asie,
  .d-img-europe,
  .d-img-amerique,
  .d-img-transculture {
    background-size: cover;
    width: 32vw;
    height: 32vw;
  }

  .d-img-asie {
    background-image: url(../img/Festival/Timbre-Asie.jpg);
  }

  .d-img-europe {
    background-image: url(../img/Festival/Timbre-Europe.jpg);
  }

  .d-img-amerique {
    background-image: url(../img/Festival/Timbre-AmeriqueLatine.jpg);
  }

  .d-img-transculture {
    background-image: url(../img/Festival/Timbre-Transculture.jpg);
  }

  .d-img-asie-mobile {
    background-image: url(../img/Festival/Timbre-Asie.jpg);
  }

  .d-img-europe-mobile {
    background-image: url(../img/Festival/Timbre-Europe.jpg);
  }

  .d-img-amerique-mobile {
    background-image: url(../img/Festival/Timbre-AmeriqueLatine.jpg);
  }

  .d-img-transculture-mobile {
    background-image: url(../img/Festival/Timbre-Transculture.jpg);
  }
  .d-img-transculture-mobile {
    display: none;
  }
}
@media (max-width: 768px) {
  .d-card {
    .d-card-text {
      gap: 15px;
      h2 {
        font-size: 40px;
        line-height: 50px;
        letter-spacing: -3px;
        padding-top: 15px;
        padding-bottom: 0px;
      }
      .d-card-text-info {
        font-size: 22px;
      }
      .d-card-text-content {
        width: 100%;
        h3 {
          font-size: 18px;
        }

        p {
          font-size: 16px;
        }
      }
    }
    .d-img-asie-mobile,
    .d-img-europe-mobile,
    .d-img-amerique-mobile,
    .d-img-transculture-mobile {
      display: block;
      align-self: center;
      background-size: cover;
      width: 50vw;
      height: 50vw;
    }
    .d-img-asie,
    .d-img-europe,
    .d-img-amerique,
    .d-img-transculture {
      display: none;
    }
  }
}

.r-card {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 100px;

  .r-img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    img {
      height: 20vw;
    }
  }
  .r-img-mobile {
    display: none;
    overflow: hidden;

    justify-content: center;
    img {
      height: 50vw;
      margin: 15px;
    }
  }

  .r-card-content {
    h2 {
      font-feature-settings: "ss01" on;
      font-family: "PP Formula";
      font-size: 60px;
      font-weight: 700;
      line-height: 70px;
      text-transform: uppercase;
    }

    .r-card-text {
      display: flex;
      flex-direction: column;
      font-family: "PP Formula";
      font-size: 18px;
      font-weight: 400;

      #r-country {
        font-size: 22px;
      }

      .r-card-text-part01 {
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .r-card-text-part02 {
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Helvetica Neue";
        font-size: 18px;

        font-weight: 400;
      }
    }

    .r-card-button {
      margin: 15px 0;

      button {
        margin-right: 30px;
      }
    }
  }
}
@media (max-width: 768px) {
  .r-card {
    .r-img {
      display: none;
    }
    .r-img-mobile {
      display: flex;
    }

    .r-card-content {
      h2 {
        font-size: 30px;
        line-height: 30px;
      }
      .r-card-text {
        font-size: 14px;
        #r-country {
          font-size: 16px;
        }
        .r-card-text-part02 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 5px;
          font-size: 14px;
        }
      }
      .r-card-button {
        display: flex;
        button {
          margin-right: 15px;
          padding: 15px 30px;
        }
      }
    }
  }
}
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab.active {
  background: white;
  color: black;
}

.tab-jour-content {
  display: none;
}

.tab-jour-content.active {
  display: block;
}

.tab-principal.active {
  background-color: white;
  color: var(--black);
  border: 1px solid white;
}
