* {
  --black: #1b1a18;
  --white: #ffffff;
}

@font-face {
  font-family: "PP-Formula";
  src: url("../font/PP-Formula/PPFormula-ExtendedBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "PP-Formula";
  src: url("../font/PP-Formula/PPFormula-ExtendedMedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "PP-Formula";
  src: url("../font/PP-Formula/PPFormula-NarrowRegular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PP-Formula";
  src: url("../font/PP-Formula/PPFormula-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "PP-Formula";
  src: url("../font/PP-Formula/PPFormula-SemiCondensedExtralight.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "PP-Formula";
  src: url("../font/PP-Formula/PPFormula-CondensedExtralight.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Helvetica-Neue";
  src: url("../font/Helvetica-Neue/HelveticaNeue-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica-Neue";
  src: url("../font/Helvetica-Neue/HelveticaNeue-Roman.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica-Neue";
  src: url("../font/Helvetica-Neue/HelveticaNeue-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  height: 50px;
}

.row + .row {
  margin-top: 16px;
}

$grid-columns: 10;
$grid-gutter-width: 20px;

@import "bootstrap/scss/bootstrap-grid";

.container {
  max-width: calc(100% - 60px); /* 30px de chaque côté */
  margin: 0 auto;
}

h1 {
  font-family: "PP-Formula";
  font-size: clamp(30px, 5vw, 80px);
  text-transform: uppercase;
  letter-spacing: -5px;
  font-weight: 500;
  line-height: clamp(30px, 5vw, 70px); /* 90% */
  font-feature-settings: "ss01" on;

  @media (max-width: 768px) {
    h1 {
      letter-spacing: -1px;
    }
  }
}

h2 {
  font-family: "PP-Formula";
  font-size: clamp(24px, 3vw, 45px);
  font-weight: 400;
}

.box {
  border: 1px solid var(--black);
  padding: 20px 20px;
}

.box-black {
  border: 1px solid var(--white);
  padding: 20px 20px;
}

button {
  display: inline-flex;
  padding: 10px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--Black, #1b1a18);
  background-color: #ffffff;

  a,
  p {
    color: var(--Black, #1b1a18);
    text-align: center;
    font-family: "Helvetica-Neue";
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 400;
    text-decoration: none;
  }

  transition: 0.5s;
}

button:hover {
  border: 1px solid var(--Black, #1b1a18);
  background-color: var(--Black, #1b1a18);

  a,
  p {
    color: var(--white);
  }
}

.button-black {
  border: 1px solid white;
  background-color: var(--Black);
  a,
  p {
    color: white;
  }

  transition: 0.5s;
}

.button-black:hover {
  border: 1px solid white;
  background-color: white;

  a,
  p {
    color: var(--black);
  }
}
