.l-nav {
  position: fixed;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  border-color: var(--black);
  border-style: solid;
  border-top: 1px;
}

.l-footer {
  background-color: var(--black);
}
